/* Umum */

html {
    background-color: #D2FFEB !important;
}

/* Navbar */
.navbar {
    background-color: #006843 !important;
}

.navbar a {
    color: white !important;
    padding-top: 1rem;

}

.navbar-brand img {
    height: 10%;
    width: 80%;
}

.nav-link {
    margin-left: 30px;
}

.tombol {
    border-radius: 34px;
    padding: 0.7rem 2rem !important;
    margin-left: 3rem;
    background-color: #A9732A;
    border: 1px solid white;
}

/* Bagian Akhir navbar */

/* Jumbotron */

.jumbotron {
    background-color: #D2FFEB !important;
}

.box {
    margin-top: 25%;
}

.box h4{
    color: #A9732A;
    font-weight: 400;
    font-family: 'Secular One', sans-serif;
    font-size: 3vw;
}

.box h1 {
    color: #006843;
    font-weight: bolder;
    font-size: 7vw;
}

.box p {
    font-family: 'Scope One', serif;
    font-size: 1vw;
}

.box a {
    font-size: 1vw;
}

.tombol-cari {
    border-radius: 34px;
    background-color: #A9732A;
    border: 1px solid white;
    color: white;
    padding: 0.6rem 3rem;
    width: 50%;
    
}


/* Bagian akhir jumbotron */

@media (min-width: 992px) {

    .jumbotron img {
        width: 120%;
    }

    .mobile-img {
        display: none;
    }
}

@media (max-width: 991px) {
      .navbar-brand img {
        height: 10%;
        width: 40%;
    }
    
      .desktop-img{
        display: none !important;
    }

    .mobile-img img {
        width: 70%;
        display: block;
        margin: 0 auto;
        
    }

    .jumbotron {
        text-align: center;
    }

}
